.main{
	padding: 10px;
	width: 70%;
	article{
		color: #fff;
		h2{
			margin-bottom: 20px;
			font-weight: normal;
			font-size: 28px;
		}
		p{
			margin-bottom: 15px;
			font-size: 14px;
			line-height: 27px;
		}
	}
}